In [7]:
from bs4 import BeautifulSoup
import requests

In [15]:
url = 'https://www.worldometers.info/world-population/population-by-country/'


page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [75]:
#print(soup)

In [21]:
table = soup.find('table')

In [77]:
#table

In [39]:
table.find_all('span')

[<span>#</span>,
 <span>Country (or<br/>dependency)</span>,
 <span>Population<br/>(2025)</span>,
 <span>Yearly<br/>Change</span>,
 <span>Net<br/>Change</span>,
 <span>Density<br/>(P/Km²)</span>,
 <span>Land Area<br/>(Km²)</span>,
 <span>Migrants<br/>(net)</span>,
 <span>Fert.<br/>Rate</span>,
 <span>Median<br/>Age</span>,
 <span>Urban<br/>Pop %</span>,
 <span>World<br/>Share</span>]

In [53]:
world_columns = table.find_all('span')

In [55]:
world_column_titles = [columns.text for columns in world_columns]

print(world_column_titles)

['#', 'Country (ordependency)', 'Population(2025)', 'YearlyChange', 'NetChange', 'Density(P/Km²)', 'Land Area(Km²)', 'Migrants(net)', 'Fert.Rate', 'MedianAge', 'UrbanPop %', 'WorldShare']

In [79]:
import pandas as pd

df = pd.DataFrame(columns = world_column_titles)

In [ ]:
table.find_all('td')

world_rows = table.find_all('tr')

In [71]:
for row in world_rows[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text for data in row_data]

print(individual_row_data)

[' 233 ', ' Holy See ', ' 501 ', ' 1.01% ', ' 5 ', ' 1,253 ', ' 0 ', ' 13 ', ' 1 ', ' 57.4 ', ' ', ' 0.0000061% ']

In [81]:
df

Empty DataFrame
Columns: [#, Country (ordependency), Population(2025), YearlyChange, NetChange, Density(P/Km²), Land Area(Km²), Migrants(net), Fert.Rate, MedianAge, UrbanPop %, WorldShare]
Index: []

In [83]:
for row in world_rows[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text for data in row_data]

    length= len(df)
    df.loc[length] = individual_row_data

df

,#,Country (ordependency),Population(2025),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop %,WorldShare
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","−495,753",1.94,28.8,37.1%,17.78%
1,2,China,"1,416,096,094",−0.23%,"−3,225,184",151,"9,388,211","−268,126",1.02,40.1,67.5%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","−39,509",2.1,30.4,59.6%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","−1,235,336",3.5,20.6,34.4%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229,Montserrat,"4,359",−0.68%,−30,44,100,−9,1.45,41.6,11.5%,0.000053%
229,230,Falkland Islands,"3,469",−0.03%,−1,0,"12,170",−17,1.7,42.8,68%,0.000042%
230,231,Tokelau,"2,608",4.07%,102,261,10,53,2.57,27.3,,0.000032%
231,232,Niue,"1,821",0.11%,2,7,260,3,2.46,35.7,44.5%,0.000022%
232,233,Holy See,501,1.01%,5,"1,253",0,13,1,57.4,,0.0000061%

In [85]:
df.to_csv(r'/Users/davidmaja/Downloads/Mock Folder/World Population Scraped.csv', index = False)